
.header {
    background: #fff;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1000px;
    text-align: center;
}

.header__logo {
    font-family: "Inika", serif;
    font-weight: 400;
    font-style: normal;
    color: #8B7969;
    text-decoration: none;
    font-size: 30px;
}

.contact-form__heading {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1000px;
    text-align: center;

    color: #8B7969;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Inika';
    font-size: 18px;
}

.contact-form__content {
    margin: 0 auto;
    padding: 30px 30px;
    max-width: 1230px;
}

.contact-form__heading {
    margin-bottom: 20px;
    text-align: center;
}

.form {
    margin: 0 auto;
    width: 70%;
    text-align: center;
}



.form__label--item {
    color: #8B7969;
}

.form__label--required {
    color: red;

}